# Copiar este archivo como .env y completar los valores

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=quickorder

# AWS SQS
SQS_REGION=us-east-1
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/487037338775/QuickOrderQueue

# AWS S3
S3_REGION=us-east-1
S3_BUCKET_NAME=quick-order-bucket
